<br>
<form novalidate [formGroup]="dishForm" (ngSubmit)="onSubmit()">
		<p>
  		<mat-form-field class="half-width" hintLabel="more than 2 letters & less than 25">
    		<input matInput formControlName="name" placeholder="name" type="text" required>
    	</mat-form-field>
			<a mat-button (click)="openImageForm()"><span class="fa fa-sign-in fa-lg"></span> ImageUpload</a>
		</p>
	
    <p>
    	<mat-form-field class="half-width" hintLabel="price">
      	<input matInput formControlName="price" placeholder="price" type="text" required>
      </mat-form-field>
      <mat-form-field class="half-width" hintLabel="label">
        <input matInput formControlName="label" placeholder="label" type="text" required>
      </mat-form-field>
    </p>
		<p>
      <mat-form-field class="half-width" hintLabel="category">
				<input matInput formControlName="category" placeholder="category" type="text" required>
      </mat-form-field>
      <mat-slide-toggle formControlName="featured">Featured?</mat-slide-toggle>
    </p>
    <p>
			<mat-form-field class="full-width" hintLabel="more than 2 letters & less than 50">
      	<textarea matInput formControlName="description" placeholder="description" rows=12></textarea>
      </mat-form-field>
    </p>
		<div *ngIf="!dishForm.invalid && image">
    	<button type="submit" mat-raised-button class="background-primary text-floral-white">Submit
      </button>
		</div>
		<div *ngIf="isSubmitted">
			Dish Successfully Submitted
			{{dish}}
		</div>
</form>

<p></p>
File Drag and Drop
<br>
<div class="center">
    <file-drop headertext="Drop files here" (onFileDrop)="dropped($event)" 
    (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)">
        <span>optional content (don't set headertext then)</span>
    </file-drop>
    <div class="upload-table">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody class="upload-name-style">
                <tr *ngFor="let item of files; let i=index">
                    <td><strong>{{ item.relativePath }}</strong></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

